<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<id>@MODULE_ID@</id>
	<name>@MODULE_NAME@</name>
	<version>@MODULE_VERSION@</version>
	<package>@MODULE_PACKAGE@</package>

	<author>Thoughtworks</author>
	<description>@MODULE_DESCRIPTION@</description>

	<activator>org.openmrs.module.episodes.EpisodeActivator</activator>
	
	<require_version>@openmrs.platform.version@</require_version>

	<mappingFiles>
		Episode.hbm.xml
	</mappingFiles>

</module>

